    Author:  Yemisi Adeoluwa
    Script Title: Create OLAP (Datawarehouse, Star Schema) Dimensional and Fact tables for EarlyStartStoreLtdDW
    Date: 27/08/2018

   A template which can be used to Modify the tables created.

In [ ]:
ALTER TABLE dbo.DimProducts
ALTER COLUMN  ExpiryDate DateTime NULL
GO


ALTER TABLE dbo.DimEmployee
ALTER COLUMN Telephone nvarchar(50) NULL
GO

ALTER TABLE dbo.FactSalesQuota
ALTER COLUMN SalesAmountQuarter MONEY NULL
GO

      Table Name: DimProducts
      Description: This table contains relevant information about each product, including the description of the product, price of the product and the date the product would expire.
      Comment: The primary key is in a NON Clustered Index

In [ ]:
CREATE TABLE dbo.DimProducts
(ProductKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
[Description] nvarchar(90) NOT NULL,
ManifacturerName nvarchar(50) NULL,
Barcode Int NULL,
Price money NOT NULL,
Colour NVARCHAR(20) NULL,
StartDate DateTime NOT NULL,
ExpiryDate DateTime NULL)
GO

      Table Name: DimCustomer
      Description: Contains each  Customer's Personal details. 
      Comment: The primary key is in a NON Clustered Index

In [ ]:
CREATE TABLE dbo.DimCustomer
(CustomerKey int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
FirstName nvarchar(30) NOT NULL,
LastName nvarchar(30) nOT NULL,
Address nvarchar(50) NOT NULL,
Postcode varchar(10) NOT NULL,
CityID nvarchar(20) NOT NULL,
Telephone nvarchar(30) NULL,
Mobile nvarchar(30) NULL,
Email nvarchar(30) NULL)
GO

      Table Name: DimEmployee
      Description: This table contains all the Company's Employee's Details

In [ ]:
CREATE TABLE dbo.DimEmployee
(EmployeeKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
FirstName nvarchar(30) NOT NULL,
LastName nvarchar(30) NOT NULL,
JobTitle nvarchar(30) NOT NULL,
Street nvarchar(50) NOT NULL,
Postcode varchar(10) NOT NULL,
City nvarchar(20) NOT NULL,
StartDate DATETIME NULL,
EndDate DATETIME NOT NULL,
Telephone nvarchar(50) NULL,
Email nvarchar(30) NULL)
GO

      Table Name: DimDate
      Description: Date reference table

In [ ]:
CREATE TABLE dbo.DimDate
(DateKey Int NOT NULL PRIMARY KEY NONCLUSTERED,
 CalendarYear Int NOT NULL,
 CalendarQuarter Int NOT NULL,
 MonthOfYear Int NOT NULL,
 [MonthName] nvarchar(25) NOT NULL,
 [DayOfMonth] Int NOT NULL,
 [DayOfWeek] Int NOT NULL,
 [DayName] nvarchar(15) NOT NULL,
 FiscalYear int NOT NULL,
 FiscalQuarter int NOT NULL)
 GO

      Table Name:  DimCity
      Description: City table to identify the city the customer made thier purchase

In [ ]:
CREATE TABLE dbo.DimCity
 (CityKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
 City nvarchar(20) NOT NULL,
 Country nvarchar(20) NOT NULL)
 GO

      Table Name:  DimSalesPerson
      Description: Reference table to identify the salesperson for the specific sales transaction.

In [ ]:
 CREATE TABLE dbo.DimSalesPerson
 (SalesPersonKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
 FirstName nvarchar(30) NOT NULL,
 LastName nvarchar(30) NOT NULL)
 GO

      Table Name:  FactSalesQuota
      Description: This table consist of all  the sales transaction information in the year quarter.
      Comment: Employee, Date, has been referenced in this table

In [ ]:
 CREATE TABLE dbo.FactSalesQuota
 (SalesQuotaKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
  EmployeeKey Int NOT NULL REFERENCES DimEmployee(EmployeeKey),
  DateKey Int NOT NULL REFERENCES DimDate(DateKey),
  CalendarYear DateTime NOT NULL,
  CalendarQuarter DateTime NOT NULL,
  SalesAmountQuarter MONEY NULL)
  GO

      Table Name:  FactOrder
      Description: this table captures all the product ordered information such as the price and name of the product, the customer who ordered the product and the SalesPerson who processed the order transaction.
      This table would be used in order to identify all the product that has been ordered by the customers.
      Comment: The table referenced in this Fact Table are the Customer, City and SalesPerson

In [ ]:
 CREATE TABLE dbo.FactOrder
(OrderKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
 CityKey Int NOT NULL REFERENCES DimCity(CityKey),
 CustomerKey Int NOT NULL REFERENCES DimCustomer(CustomerKey),
 SalesPersonKey Int NOT NULL REFERENCES DimSalesPerson(SalesPersonKey),
 [Description] nvarchar(50) NOT NULL,
 Quantity Int NOT NULL,
 UnitPrice Money NOT NULL,
 VAT Money NOT NULL,
 TotalExclVAT Money NOT NULL,
 TotalInclVAT Money NOT NULL,
 OrderDate DATETIME NOT NULL,
 DateKey DATETIME NOT NULL)
 GO

      Table Name:  FactSales
      Description: All the unit price and discount price of the product and the cost of purchase of the product.
      Comment: The table referenced in this Fact Table are the Customer, Product and City and SalesPerson

In [ ]:
CREATE TABLE dbo.FactSales
 (SalesKey Int IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
 SalesPersonKey Int NOT NULL REFERENCES DimSalesPerson(SalesPersonKey),
 ProductKey Int NOT NULL REFERENCES DimProducts(ProductKey),
 CustomerKey Int NOT NULL REFERENCES DimCustomer(CustomerKey),
 CityKey Int NOT NULL REFERENCES DimCity(CityKey),
 SalesLocation nvarchar(30) NOT NULL,
 OrderQty Int NULL,
 UnitPrice Money Null, 
 UnitPriceDiscountPct Money NULL,
 DiscountAmount Money NULL,
 ProductStandardCost Money NULL,
 TotProductCost Money NULL,
 SalesAmount Money NULL,
 OrderDate DATETIME NULL,
 DateKey DATETIME NULL)
 GO